<header>
    <h1 id="logo"><a href="/">調布技研</a></h1>
    <!--開閉ブロック-->
    <div id="menubar">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/devices/">デバイス開発</a>
                    <!--
                    <ul>
                        <li><a href="/devices/#gaming">ゲーミングプロダクト</a></li>
                        <li><a href="/devices/#enterprise">エンタープライズ</a></li>
                        <li><a href="/devices/#automotive">オートモーティブ</a></li>
                    </ul>
                    -->
                </li>
                <li><a href="/telecom/">電気通信事業</a></li>
                <li><a href="https://chofutech.booth.pm/">BOOKS</a></li>
                <li><a href="/company/">COMPANY</a></li>
                <li><a href="/company/#contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <!--/#menubar-->
</header>
